# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
*.pem

# debug
npm-debug.log*

# local env files
.env
.env*.local

# local sqlite database
/data
*.db

# typescript
*.tsbuildinfo
next-env.d.ts
